<h1 matDialogTitle>Add a new resolution</h1>

<mat-dialog-content>
    <form #form='ngForm'>
    <mat-form-field>
        <mat-label>Resolution Title:</mat-label>
        <input matInput placeholder="title" [(ngModel)]='data.title' name='title'>
        <mat-label>Resolution Description</mat-label>
        <input matInput placeholder="description" [(ngModel)]='data.description' name='description' >
    </mat-form-field>
    </form>
    
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button matDialogClose matDialogClose='false'>Close dialog</button>
    <button mat-button matDialogClose [matDialogClose]='data'>Action</button>
    
</mat-dialog-actions>